
-# .section
%article.white
	%br/
	.section-header Search Results
	.wrapper
		.col
			- if @products.empty?
				.section
					.one
						.headline Sorry, no products match your search
						.sdummy{style: "background-image: url(#{image_path 'search.png'})"}
				

			- else
				- @products.each do |p| 
					.quarter
						= link_to store_product_path(p.store, p) do
							.card
								.card-image
									%img{:src => "#{p.image.url(:medium)}", :alt => "#{p.name}"}/
								.card-header= p.name.truncate(20) 
								.card-copy= number_to_currency((p.price).to_i, unit: "GHS")

						
		= paginate @products
									
					


