= form_with(model: store, locale: true) do |f|
	= f.fields_for :user do |u|

		= u.text_field :full_name, placeholder: 'Full Name'
		= u.email_field :email, placeholder: 'Email'
		= u.password_field :password, placeholder: 'Password'
		= u.password_field :password_confirmation, placeholder: 'Confirm Password'

	= f.text_field :name, placeholder: 'Your store name'
	= f.label "What will you be selling?"
	= f.collection_select :category_id, Category.order(:name), :id, :name
	
	= f.submit "Create your store"