.article
	.wrapper
		.section
			.col
				.one
					.medium-dialog-box
						.dialog__heading Dashboard
						.dialog__content
							= button_to "New product", new_store_product_path(@store), id: 'addNewProduct', method: :get
							
							- if @products.present?
								.section-header Your Products
								%table.tables
									%thead
										%tr
											%th Name
											%th Price
											%th Actions
									%tbody
										- @products.each do |p|
											%tr
												%td= link_to p.name, store_product_path(@store, p)
												%td= number_to_currency(p.price)
												%td
													= link_to "Edit", edit_store_product_path(@store, p)
													= link_to "Delete", [@store, p], method: :delete
							- else

					
		-# .half
		-# 	.module
		-# 		.module__header Statistics
		-# 		.module__details
		-# 			= button_to "Edit settings", edit_store_path(@store), method: :get

		