.page-header
	.wrapper
		.store-header
			.store-header-content
				.row
					.col-full
						.store-info
							%h2.store-name= @store.name
							.store-info__container
								.store-info__following= pluralize(@store.followers.count, "follower")
								%br/
								- if @store.description.blank?
									%p Go into your settings and describe your store in a few words.
								- else
									.store-desc= @store.description
								= follow_button @store
								
						
						

.section
	.wrapper
		.store-pane
			.col
				- @products.each do |p| 
					.quarter
						= link_to store_product_path(p.store, p) do
							.card
								.card-image
									%img{:src => "#{p.image.url}", :alt => "#{p.name}"}/
								.card-header= p.name.truncate(30) 
								.card-copy= number_to_currency((p.price).to_i, unit: "GHS")
    

								


