.section
	.pdt-show
		.wrapper
			.product-header
				.image-container
					.product-img{ style: "background-image:  url('#{@product.image.url}')"  }
					.product-actions
						.actions-container
							.span.action-like.action-showText
								= like_link(@product)
							%br/
				.product-info
					.center-vertical-outer
						.center-vertical-inner
							.centered-section								
								%h1.product-name= @product.name
								.product-store
									%span  by
									= link_to @product.store.name, store_path(@product.store)
								.show-price= number_to_currency(@product.price, unit: 'GHS')
								%span.action-like.action-showText
									%span.fa.fa-heart.fa-2x{aria: {hidden: 'true'}}
									- if @product.likes.count > 0
										%span.showText= "#{@product.likes.count}"
								.buy-now-container
									= button_to "Order now at #{number_to_currency(@product.price, unit: "GHC")}", root_path, method: :get  
				.details
					.section-header Details
					.product-detail
						.product-detail-header 
							.header-title Gallery
						.product-assets
							- for asset in @product.assets 
								%li.asset= link_to image_tag(asset.image.url(:thumb)), asset.image.url
						
					.product-detail
						.product-detail-header
							.header-title Description
						.product-description= sanitize(@product.description)
					%br/


					.section-header Write a comment
					- if user_signed_in?
						#comments
							= render @comments
						.comments-container
							= form_for [@product.store, @product,  @product.comments.build], remote: true do |f|
								-# = f.hidden_field :product_id, value: @product.id
								= f.text_area :body, class: 'form-input'
								= f.submit "Post comment"
							

						
					- else 
						%h1.section-header= link_to "Sign up to like and comment", new_user_registration_path
						